<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>chen_kai_bo</display-name>
    <welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list>
    <servlet>
        <servlet-name>ProjectListServlet</servlet-name>
        <servlet-class>chen_kai_bo.ProjectListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectListServlet</servlet-name>
        <url-pattern>/projects</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyProjectsServlet</servlet-name>
        <servlet-class>chen_kai_bo.MyProjectsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyProjectsServlet</servlet-name>
        <url-pattern>/my/projects</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostProjectServlet</servlet-name>
        <servlet-class>chen_kai_bo.PostProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostProjectServlet</servlet-name>
        <url-pattern>/project/post</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProjectDetailServlet</servlet-name>
        <servlet-class>chen_kai_bo.ProjectDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectDetailServlet</servlet-name>
        <url-pattern>/project/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProjectServlet</servlet-name>
        <servlet-class>chen_kai_bo.EditProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProjectServlet</servlet-name>
        <url-pattern>/project/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProjectServlet</servlet-name>
        <servlet-class>chen_kai_bo.DeleteProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProjectServlet</servlet-name>
        <url-pattern>/project/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProjectStatusServlet</servlet-name>
        <servlet-class>chen_kai_bo.UpdateProjectStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProjectStatusServlet</servlet-name>
        <url-pattern>/project/status</url-pattern>
    </servlet-mapping>
</web-app>
