<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>chen_zi_hao</display-name>
    <welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list>
    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>chen_zi_hao.OrderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>chen_zi_hao.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/order/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <servlet-class>chen_zi_hao.CompleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <url-pattern>/order/complete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>chen_zi_hao.ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/order/confirm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>chen_zi_hao.ReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>chen_zi_hao.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <!-- 字符编码过滤器 -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
