<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>chen_xi_rui</display-name>
    <welcome-file-list><welcome-file>index.jsp</welcome-file></welcome-file-list>
    <servlet>
        <servlet-name>PlaceBidServlet</servlet-name>
        <servlet-class>chen_xi_rui.PlaceBidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlaceBidServlet</servlet-name>
        <url-pattern>/bid/place</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BidListServlet</servlet-name>
        <servlet-class>chen_xi_rui.BidListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BidListServlet</servlet-name>
        <url-pattern>/bids</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyBidsServlet</servlet-name>
        <servlet-class>chen_xi_rui.MyBidsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyBidsServlet</servlet-name>
        <url-pattern>/my/bids</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AwardBidServlet</servlet-name>
        <servlet-class>chen_xi_rui.AwardBidServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AwardBidServlet</servlet-name>
        <url-pattern>/bid/award</url-pattern>
    </servlet-mapping>
    <!-- 字符编码过滤器 -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
